#introduce
{
    text-align: center;
}
#name
{
    text-align: center;
    color: rgb(54, 54, 53);
}
#headline
{
    text-align: center;
    color: rgb(54, 54, 53);
    margin: 0px;
}
#birthday
{
    text-align: center;
}
.facebook
{
    width: 40px;
    height: 40px;
    margin: 0px auto;
}
.box{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0px auto;
    border-radius: 70%;
    overflow: hidden;
}
.color_box
{
    background-color: lightgrey;
    width: auto;
    height: auto;
    width: 400px;
    padding: 30px;
    margin: 0px auto;
}
ol{
    font-size: 25px;
    margin: 0px auto;
}